<!doctype html>
<title>Results</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Results</h1>
  <div class=metanav>
    <h4>
      The number of rotations is: {{counter}}
    </h4>
    <h4>
      The number of times each player will play is: {{people}}
    </h4>
    <h4>
      The number of minutes each player will play is: {{person_time}}
    </h4>
    <h4>
      The amount of time for a substitution is: {{sub_time}}
    </h4>
  </div>
</div>
